<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello HTML</title>
    <style>
      input{padding: 3px;}
  </style>
</head>
<body style="margin: 50px;">
    <h1>Member Insert</h1>
    <hr>
  <form action="/sb/user/login" method="post">
      
        <input type="text" name="uid" placeholder="login uid">
        <input type="text" name="pwd" placeholder="passwod"><br><br>
        <input type="submit" value="로그인">
  </form>
</body>
</html>